{% extends 'template.html' %}
{% load url from future %}

{% block body %}
  
<div class="btn-group pull-right">
  <a class="btn btn-action" href="{% url 'financial.views.cashflow_edit' %}">Add New</a>
</div>

<h2>Cash Flow</h2>
<p>Monthly...</p>
  
<div class="pager">
  <ul>
    <li>
      <a href="{% url 'financial.views.index' %}?month={{ month_last|date:"n" }}&year={{ month_last|date:"Y" }}">&larr;</a>
    </li>
    <li class="active">
      <a href="#">{{ month_now|date:"F" }}</a>
    </li>
    <li>
      <a href="{% url 'financial.views.index' %}?month={{ month_next|date:"n" }}&year={{ month_next|date:"Y" }}">&rarr;</a>
    </li>
  </ul>
</div>  

<table class="table table-striped">
  <thead>
    <th>Category</th>
    <th>Description</th>
    <th>Planned Amonut</th>
    <th>Payed Amonut</th>
    <th>Due Date</th>
    <th>Payed Date</th>
    <th></th>
  </thead>
  <tbody>
    {% for item in cash_flow %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.amount_planned }}</td>
        <td>{{ item.amount_payed }}</td>
        <td>{{ item.date_due }}</td>
        <td>{{ item.date_payed }}</td>
        <td><a class="btn btn-mini btn-warning djow-cashflow-edit" href="{% url 'financial.views.cashflow_edit' %}?id={{ item.id }}">Edit</a>
            <a class="btn btn-mini btn-danger djow-cashflow-remove" href="{% url 'financial.views.cashflow_remove' %}?id={{ item.id }}">X</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Nothing found here!</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <td>Total</td>
    <td></td>
    <td>{{ amount_planned_sum.amount_planned__sum }}</td>
    <td>{{ amount_payed_sum.amount_payed__sum }}</td>
    <td></td>
    <td></td>
    <td></td>
  </tfoot>
</table>
  
{% endblock %}

{% block scripts %}
  
  <script type="text/javascript">
    $('.djow-cashflow-remove').click(function(){
      if (confirm('Are you sure you want to remove this data and ALL the data linked to it?'))
      {
        window.location = $(this).attr('href');
      }
      else
      {
        return false;
      }
    });
  </script>

{% endblock %}