{% extends 'template.html' %}
{% load url from future %}

{% block body %}
  
<h2>Cash Flow</h2>
<p>Planned to <strong>{{ month_now|date:"F" }}</strong></p>
  
<div class="btn-group">
  <a class="btn btn-mini btn-danger" href="{% url 'financial.views.index' %}?month={{ month_last|date:"n" }}&year={{ month_last|date:"Y" }}">Previous</a>
  <a class="btn btn-mini btn-danger" href="{% url 'financial.views.index' %}?month={{ month_next|date:"n" }}&year={{ month_next|date:"Y" }}">Next</a>
</div>
  
<div class="btn-group pull-right">
  <a class="btn btn-action" href="{% url 'financial.views.cashflow_edit' %}">Add New</a>
  <!-- <a class="btn btn-danger" href="#">Action</a>
  <a class="btn btn-success" href="#">Action</a> -->
</div>

<table class="table table-striped">
  <thead>
    <th>Category</th>
    <th>Description</th>
    <th>Planned Amonut</th>
    <th>Payed Amonut</th>
    <th>Due Date</th>
    <th>Payed Date</th>
  </thead>
  <tbody>
    {% for item in cash_flow %}
      <tr>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.amount_planned }}</td>
        <td>{{ item.amount_payed }}</td>
        <td>{{ item.date_due }}</td>
        <td>{{ item.date_payed }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Nothing found here!</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfooter>
    <td>Total</td>
    <td></td>
    <td>{{ amount_planned_sum.amount_planned__sum }}</td>
    <td>{{ amount_payed_sum.amount_payed__sum }}</td>
    <td></td>
    <td></td>
  </tfooter>
</table>



  
{% endblock %}