{% extends 'template.html' %}
{% load url from future %}

{% block body %}
  
<div class="btn-group pull-right">
  <a class="btn btn-primary" href="{% url 'financial.views.category_edit' %}">Add New</a>
  <!-- <a class="btn btn-danger" href="#">Action</a>
  <a class="btn btn-success" href="#">Action</a> -->
</div>

<h2>Category</h2>

<table class="table table-striped">
  <thead>
    <th>Parent</th>
    <th>Description</th>
  </thead>
  <tbody>
    {% for item in category %}
      <tr>
        <td>{{ item.parent }}</td>
        <td>{{ item.description }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Nothing found here!</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  
{% endblock %}