{% extends 'template.html' %}
{% load url from future %}

{% block body %}
    <style type="text/css">
        /* Override some defaults */
        html, body {
          background-color: #eee;
        }
        body {
          padding-top: 40px;
        }
        .container {
          width: 300px;
        }
        
        /* The white background content wrapper */
        .container > .content {
          background-color: #fff;
          padding: 20px;
          margin: 0 -20px;
          -webkit-border-radius: 10px 10px 10px 10px;
             -moz-border-radius: 10px 10px 10px 10px;
                  border-radius: 10px 10px 10px 10px;
          -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
             -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                  box-shadow: 0 1px 2px rgba(0,0,0,.15);
        }
        
        .login-form {
          margin-left: 65px;
        }
        
        legend {
          margin-right: -50px;
          font-weight: bold;
          color: #404040;
        }
    </style>
    
    <h1>Djow Financial</h1>
    <p>;)</p>
    
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <div class="content">
        <div class="row">
            <div class="login-form">
                {% block login_form %}
                    <h2>Login</h2>
                    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class="clearfix">
                                {{ form.username }}<!-- <input type="text" name="username" placeholder="Username"> -->
                            </div>
                            <div class="clearfix">
                                {{ form.password }}<!-- <input type="password" name="password" placeholder="Password"> -->
                            </div>
                            <button class="btn primary" type="submit">Sign in</button>
                        </fieldset>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
    
    

{% endblock %}